@model CorePractice.Models.ModuleMenu


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>


@using (Html.BeginForm("Create", "ModuleMenus", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @*@Html.AntiForgeryToken()*@

    <div class="container" style="max-width: 700px;">
        <div class="py-7 text-center">
            <h2>Module Menu Entry</h2>
            <p class="lead"></p>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (Model != null)
        {

            <input type="hidden" id="ModuleMenuId" name="ModuleMenuId" value="@Model.ModuleMenuId" />
        }
        else
        {
            <input type="hidden" id="comid" name="comid" value="" />
        }


        <div id="modalbodyfahad" class="row card p-4">
            <div class="col-md-12 order-md-1">

                <div class="needs-validation card p-4" novalidate>
                    <div class="row">

                        <br>
                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(model => model.ModuleMenuName)
                            @Html.EditorFor(model => model.ModuleMenuName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ModuleMenuName, "", new { @class = "text-danger" })

                        </div>
                        <div class="col-md-6 mb-3">

                            @Html.LabelFor(model => model.ModuleMenuCaption)

                            @Html.EditorFor(model => model.ModuleMenuCaption, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ModuleMenuCaption, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            @Html.LabelFor(model => model.ModuleId, "Module")

                            @Html.DropDownList("ModuleId", null, "=N/A=", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ModuleId, "", new { @class = "text-danger" })

                        </div>

                        @if (Model == null)
                        {
                            <div class="col-md-6 mb-3">
                                @Html.LabelFor(model => model.ModuleGroupId, "Module Group")

                                @*@Html.DropDownList("ModuleGroupId", Enumerable.Empty<SelectListItem>(), "Select Module Group", new { @class = "form-control" })*@
                                @Html.DropDownList("ModuleGroupId", null, "=N/A=", htmlAttributes: new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.ModuleGroupId, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6 mb-3">
                                @Html.LabelFor(model => model.ParentId, "Parent Menu")
                                @Html.DropDownListFor(model => model.ParentId, new List<SelectListItem>
                                           { new SelectListItem{Text="=N/A=", Value="0"}}, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IsParent, "", new { @class = "text-danger" })
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6 mb-3">
                                @Html.LabelFor(model => model.ModuleGroupId, "Module Group")
                                @*@Html.DropDownList("ModuleGroupId", Enumerable.Empty<SelectListItem>(), "Select Module Group", new { @class = "form-control" })*@
                                @Html.DropDownList("ModuleGroupId", null, "=N/A=", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ModuleGroupId, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6 mb-3">
                                @Html.LabelFor(model => model.ParentId, "Parent Menu")
                                @*@Html.DropDownListFor(model => model.ParentId, new List<SelectListItem>
                                    { new SelectListItem{Text="=N/A=", Value="0"}}, new { @class = "form-control" })*@
                                @Html.DropDownList("ParentId", null, "=N/A=", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                            </div>
                        }


                        <div class="col-md-6 mb-3">

                            @Html.LabelFor(model => model.SLNO)

                            @Html.EditorFor(model => model.SLNO, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SLNO, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            @Html.LabelFor(model => model.IsInActive, "Is InActive")
                            @Html.DropDownListFor(model => model.IsInActive, new List<SelectListItem>
                                       { new SelectListItem{Text="Active", Value="0"},
                                         new SelectListItem{Text="Deactive", Value="1"}}, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IsInActive, "", new { @class = "text-danger" })

                        </div>
                        <div class="col-md-4 mb-3">
                            @Html.LabelFor(model => model.IsParent, "Is Parent")
                            @Html.DropDownListFor(model => model.IsParent, new List<SelectListItem>
                                       { new SelectListItem{Text="No", Value="0"},
                                         new SelectListItem{Text="Yes", Value="1"}}, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IsParent, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            @Html.LabelFor(model => model.ImageCriteriaId, "Image Criteria")
                            @Html.DropDownList("ImageCriteriaId", null, htmlAttributes: new { @class = "form-control" })

                            @*@Html.DropDownListFor(model => model.ImageCriteriaId, new List<SelectListItem>
                                { new SelectListItem{Text="Image", Value="1"},
                                  new SelectListItem{Text="Icon", Value="2"}}, new { @class = "form-control" })*@

                            @Html.ValidationMessageFor(model => model.ImageCriteriaId, "", new { @class = "text-danger" })
                        </div>


                        <div class="col-md-4 mb-3">
                            @Html.LabelFor(model => model.ModuleMenuController)
                            @Html.EditorFor(model => model.ModuleMenuController, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ModuleMenuController, "", new { @class = "text-danger" })

                        </div>
                        <div class="col-md-4 mb-3">

                            @Html.LabelFor(model => model.ModuleMenuLink)
                            @Html.EditorFor(model => model.ModuleMenuLink, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ModuleMenuLink, "", new { @class = "text-danger" })

                        </div>
                    </div>


                    <div class="d-block mx-auto">
                        <div class="col-md-4 offset-md-2">
                            @Html.HiddenFor(model => model.ModuleMenuImage, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.HiddenFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.HiddenFor(model => model.ModuleImageExtension, new { htmlAttributes = new { @class = "form-control" } })


                            @Html.LabelFor(model => model.ModuleMenuImage)


                            @if (Model == null)
                            {
                            }
                            else
                            {


                                if (Model.ModuleMenuImage == null)
                                {

                                    <img src="@Url.Content("uploads/"+0 + ".png")" class="img-thumbnail" multiple />
                                }
                                else
                                {
                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ModuleMenuImage))" class="img-thumbnail">
                                }
                            }

                            @Html.ValidationMessageFor(model => model.ModuleMenuImage, "", new { @class = "text-danger" })
                            <input type="file" class="image-upload" name="file" id="myFile" />
                            @*<input type="hidden" id="imageDatatest" name="imageDatatest" value="data:image/jpeg;base64,....." />*@
                            <br />
                            <img src="" height="200" id='image_X' alt="Image preview...">
                            <div class="images">
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />


                    <table>

                        <tr>

                            <td>
                                @if (ViewBag.Title == "Create")
                                {
                                    <input type="submit" value="Create" class="btn btn-primary btn-block" />

                                    @*<button class="btn btn-primary btn-lg btn-block" type="button" onclick="Products_save()">Save</button>*@
                                }
                                else if (ViewBag.Title == "Edit")
                                {
                                    <input type="submit" value="Update" class="btn btn-warning btn-block" />

                                    @*<button class="btn btn-warning btn-lg btn-block" type="button" onclick="Products_save()">Update</button>*@
                                }
                                else if (ViewBag.Title == "Delete")
                                {
                                    <button class="btn btn-danger btn-lg btn-block" type="button" onclick="ModuleMenu_delete()">Delete</button>
                                }

                            </td>
                            <td>
                                @Html.ActionLink("Back", "Index", "ModuleMenus", null, new { @class = "btn btn-info btn-block" })

                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts{

    <script type="text/javascript">
         function ModuleMenu_delete() {
                var ModuleMenuId = $("#ModuleMenuId").val();
                //alert(SalesId);
                $.ajax({

                    url: '@Url.Action("Delete", "ModuleMenus")',
                    //url: '@Url.Action("Delete")',
                    data: JSON.stringify({ id: ModuleMenuId }), //use id here
                    //data: JSON.stringify(salesmain),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (result) {

                        if (result.Success == "1") {
                            window.location.href = '@Url.Action("Index", "ModuleMenus")';
                        }
                        else {
                            alert(result.ex);
                        }
                    }
                });
        }


        $(document).ready(function () {



              function LoadModuleGroup() {

                //alert('prdsearch');
                  $("#ModuleGroupId").empty();
                //$("#ProductDescription").val("=N/A=");
                //$("#Qty").val(1);


                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetModuleGroup", "ModuleMenus")',
                        dataType: 'json',
                        async: false,
                        data: { id: $("#ModuleId").val() },
                        success: function (data) {
                            var s ='<option value="-1">Please Select Module Group</option>';
                            //$.each(data, function (i, data) {
                            //    $("#Product").append('<option value="'+ data.Value + '">'
                            //        + data.Text + '</option>');
                            //});
                            for (var i = 0; i < data.length; i++) {
                                s += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                            }
                            $("#ModuleGroupId").html(s);
                        },
                        error: function (ex) {
                            alert('Failed.' + ex);
                        }

                    });
                    return false;
                };


            $('#ModuleId').select2({})
                .on("select2:select", function (e) {
                    if ($('#ModuleId').val() > 0) {

                        //alert('enter');
                        LoadModuleGroup();
                    }
                    else {
                        alert('Please Select Module Information First.')
                    }

                    console.log("select2:select")
                });




            @*$('#ModuleId').change(function () {
                //alert($('#ModuleId').val());
                var ModuleId = $("#ModuleId").val();
                //alert(SalesId);
                $.ajax({

                    //url: '@Url.Action("GetModuleGroup", "ModuleMenus")',
                    url: `/ModuleMenus/GetModuleGroup?handler=document&id=${ModuleId}`,
                    //url: '@Url.Action("Delete")',
                    //data: JSON.stringify({ id: ModuleId }), //use id here
                    //data: JSON.stringify(salesmain),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (result) {
                        $('#ModuleGroupId').empty();
                        $('#ModuleGroupId').append(`<option value=0>Select Module Group</option>`);
                        for (var i = 0; i < result.length; i++) {
                            $('#ModuleGroupId').append(`<option value=${result[i].ModuleGroupId}>${result[i].ModuleGroupName}</option>`);
                        }
                    }
                });
            });*@



            //$.ajax({
            //       type: "POST",
            //        //url: "/JobCard/GetJobCard",
            //        url: `/JobCard/GetJobCard?handler=document&fromDate=${fTime}&toDate=${tTime}`,
            //        //data: JSON.stringify(data),
            //       contentType: 'application/json; charset=utf-8',
            //       dataType: "json",
            //        success: function (data) {

            //       }
            //    });



            $('#ModuleGroupId').select2({})
                .on("select2:select", function (e) {
                    if ($('#ModuleGroupId').val() > 0) {

                        //alert('enter');
                        CascadeParentMenu();
                    }
                    else {
                        alert('Please Select Module Group Information First.')
                    }

                    console.log("select2:select")
                });




               function CascadeParentMenu() {

                //alert('prdsearch');
                   $("#ParentId").empty();
                //$("#ProductDescription").val("=N/A=");
                //$("#Qty").val(1);


                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetModuleMenu", "ModuleMenus")',
                        dataType: 'json',
                        async: false,
                        data: { id: $("#ModuleGroupId").val() },
                        success: function (data) {
                            var s ='<option value="-1">Please Select Parent Menu</option>';
                            //$.each(data, function (i, data) {
                            //    $("#Product").append('<option value="'+ data.Value + '">'
                            //        + data.Text + '</option>');
                            //});
                            for (var i = 0; i < data.length; i++) {
                                s += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                            }
                            $("#ParentId").html(s);
                        },
                        error: function (ex) {
                            alert('Failed.' + ex);
                        }

                    });
                    return false;
                };










            //@*$('#ModuleGroupId').change(function () {
            //    //alert($('#ModuleId').val());
            //    var ModuleGroupId = $("#ModuleGroupId").val();
            //    //alert(SalesId);

            //    $.ajax({

            //        //url: '@Url.Action("GetModuleMenu", "ModuleMenus")',
                    ////url: `/ModuleMenus/GetModuleMenu?handler=document&id=${ModuleGroupId}`,
                    //data: JSON.stringify({ id: ModuleGroupId }), //use id here
                    ////data: JSON.stringify(salesmain),
                    //type: 'POST',
                    //contentType: 'application/json;',
                    //dataType: 'json',
                    //success: function (result) {
                    //    $('#ParentId').empty();
                    //    $('#ParentId').append(`<option value=0>=N/A=</option>`);
                    //    for (var i = 0; i < result.length; i++) {
                    //        $('#ParentId').append(`<option value=${result[i].ModuleMenuId}>${result[i].ModuleMenuName}</option>`);
                    //    }

                    //    if (result.Success == "1") {
            //        //        window.location.href = '@Url.Action("Index", "ModuleMenus")';
            //            }
            //            else {
            //                alert(result.ex);
            //            }
            //        }
            //    });
            //});*@

            $('#myFile').bind('change', function () {

                //this.files[0].size gets the size of your file.

                //  alert(this.files[0].size);

                var a = this.files[0].size;

                if (a >= 6000000) {
                    alert('File size is too large!! \n 50 KB maximum');
                    $('#myFile').val('');
                    document.getElementById('image_X').src = ''

                }
                else {
                    //alert('its ok');
                    previewFile();

                }
            });

        function previewFile() {
            var preview = document.querySelector('#image_X'); //selects the query named img
            var file = document.querySelector('input[type=file]').files[0]; //sames as here

            var reader = new FileReader();


            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file); //reads the data as a URL
            } else {
                preview.src = "";
            }
        }

        })

    </script>

}

@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ModuleMenuName" class="control-label"></label>
                    <input asp-for="ModuleMenuName" class="form-control" />
                    <span asp-validation-for="ModuleMenuName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModuleMenuCaption" class="control-label"></label>
                    <input asp-for="ModuleMenuCaption" class="form-control" />
                    <span asp-validation-for="ModuleMenuCaption" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModuleMenuImage" class="control-label"></label>
                    <input asp-for="ModuleMenuImage" class="form-control" />
                    <span asp-validation-for="ModuleMenuImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImagePath" class="control-label"></label>
                    <input asp-for="ImagePath" class="form-control" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModuleImageExtension" class="control-label"></label>
                    <input asp-for="ModuleImageExtension" class="form-control" />
                    <span asp-validation-for="ModuleImageExtension" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModuleMenuController" class="control-label"></label>
                    <input asp-for="ModuleMenuController" class="form-control" />
                    <span asp-validation-for="ModuleMenuController" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModuleMenuLink" class="control-label"></label>
                    <input asp-for="ModuleMenuLink" class="form-control" />
                    <span asp-validation-for="ModuleMenuLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsInActive" class="control-label"></label>
                    <input asp-for="IsInActive" class="form-control" />
                    <span asp-validation-for="IsInActive" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsParent" class="control-label"></label>
                    <input asp-for="IsParent" class="form-control" />
                    <span asp-validation-for="IsParent" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="SLNO" class="control-label"></label>
                    <input asp-for="SLNO" class="form-control" />
                    <span asp-validation-for="SLNO" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModuleId" class="control-label"></label>
                    <select asp-for="ModuleId" class ="form-control" asp-items="ViewBag.ModuleId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ModuleGroupId" class="control-label"></label>
                    <select asp-for="ModuleGroupId" class ="form-control" asp-items="ViewBag.ModuleGroupId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ImageCriteriaId" class="control-label"></label>
                    <select asp-for="ImageCriteriaId" class ="form-control" asp-items="ViewBag.ImageCriteriaId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ParentId" class="control-label"></label>
                    <input asp-for="ParentId" class="form-control" />
                    <span asp-validation-for="ParentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
