@model CorePractice.Models.ModuleMenu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ModuleMenu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleMenuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleMenuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleMenuCaption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleMenuCaption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleMenuImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleMenuImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleImageExtension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleImageExtension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleMenuController)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleMenuController)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleMenuLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleMenuLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsParent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsParent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SLNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SLNO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modules)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modules.ModuleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleGroup.ModuleGroupId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageCriteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageCriteria.ImageCriteriaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ModuleMenuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
